XML testdata/SKILL.dtd

<?xml version='1.0' encoding='UTF-8'?>

<!--
    TODO define vocabulary identification
    PUBLIC ID: -//vendor//vocabulary//EN
    SYSTEM ID: http://server/path/SKILL.dtd

-->

<!--
    An example how to use this DTD from your XML document:

    <?xml version="1.0"?>

    <!DOCTYPE list SYSTEM "SKILL.dtd">

    <list>
    ...
    </list>
-->

   <!ELEMENT list (Categorie+)>
   <!ELEMENT Categorie (Skill*)>
   <!ATTLIST Categorie name CDATA #REQUIRED>
   <!ELEMENT Skill (Description, (Award|Ability|Bonus)*, Restriction*)>
   <!ATTLIST Skill name CDATA #REQUIRED >
   <!ELEMENT Bonus EMPTY>
   <!ATTLIST Bonus
        target CDATA #REQUIRED
        amount CDATA #REQUIRED
        roll CDATA #REQUIRED
   >
   <!ELEMENT Award EMPTY>
   <!ATTLIST Award
            name CDATA #REQUIRED
            base CDATA #REQUIRED
            onLevel CDATA #REQUIRED
   >
   <!ELEMENT Ability EMPTY>
   <!ATTLIST Ability
            name CDATA #REQUIRED
            bonus CDATA #REQUIRED
            altSkill CDATA #REQUIRED
            altBonus CDATA #REQUIRED
   >
   <!ELEMENT Description (#PCDATA)>
   <!ELEMENT Restriction (#PCDATA)>
   <!ATTLIST Restriction
            type CDATA #REQUIRED
            bonus CDATA #REQUIRED
   >

   
   
   
   
